<div class="App-Body">
  <div class="Language">
    <select #langselect (change)="[translate.use(langselect.value), changeLang()]">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
    </select>
  </div>
  <div class="Heading">
    <h2>{{'HOME.TITLE' | translate}}</h2>
  </div>
  <div class="Survey" *ngFor="let question of questions">
    <div class="Question">
      <h2 >{{langselect.value === "en" ? question.english : (langselect.value === "hn" ? question.hindi : question.spanish ) }}</h2>
      <div class="Options">
        <nav class="option">
          <input class="radio" type="radio"  name="op">
          <h3 class="radio-text">1</h3>
        </nav>
        <nav class="option">
          <input class="radio" type="radio" name="op">
          <h3 class="radio-text">2</h3>
        </nav>
        <nav class="option">
          <input class="radio" type="radio" name="op">
          <h3 class="radio-text">3</h3>
        </nav>
        <nav class="option">
          <input class="radio" type="radio" name="op">
          <h3 class="radio-text">4</h3>
        </nav>
        <nav class="option">
          <input class="radio" type="radio" name="op">
          <h3 class="radio-text">5</h3>
        </nav>
        
      </div>
    </div>
    
  </div>
  <div class="Footer">

  </div>
</div>